<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SubscriptionKey" value="1d528f02344c4a0d97a5d686aa0036b8"/>
    <add key="Region" value="francecentral"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>
